.title{
  text-align: center;
}
th{
  text-align: left;
  font-size: x-large;
}
td{
  padding: 10px 0px;
}

.books{
  padding: 10px;
}

.searchBar{
  text-align: center;
}
.bar{
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  font-size: large;
}

.read{
  font-size: small;
  color: blueviolet;
  cursor: pointer;
}

.showCase{
  /* display: flex;
  justify-content: space-around; */
  padding: 15px;
  align-items: center;
}
.heading{
  font-size: larger;
  text-align: center;
}
.subTitle{
  font-size: small;
  text-align: center;
}

.bigImg{
  text-align: center;
}

.desc{
  margin: 10px auto;
  text-align: center;
}